@media (max-width: 250px) {
    .hero-text h1 {
        font-size: 32px;
    }

    .hero-text h4 {
        font-size: 15px;
    }

    .hero-text p {
        font-size: 60%;
    }

    .hero-image img {
        width: 220px;
    }

    .navlist {
        width: 90vw;
        left: auto;
        right: 0vw;
        height: 100vh;
        top: 60px;
        padding: 10px 0;
    }

    header {
        padding: 10px 5%;
    }

    section {
        padding: 0 3%;
    }

    #menu-toggle:checked~.navlist {
        right: 0vw;
        pointer-events: auto;
        opacity: 1;
    }
}
